.footer {
  &-top {
    padding: 32px 168px 48px;
    display: grid;
    grid-template-columns: 220px auto;
    gap: 56px;
  }
  &-bottom {
    padding: 18px 168px;
    border-top: 1px solid var(--color-primary);
    .footer-all-rights {
      font-size: 12px;
      font-weight: 400;
      color: var(--color-black);
      position: relative;
    }
  }
  &-title {
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    color: var(--color-primary);
    margin-bottom: 4px;
  }
  &-desc {
    font-size: 12px;
    color: var(--color-black);
    font-weight: 400;
    margin-bottom: 12px;
  }
  &-read-more {
    font-size: 12px;
    font-weight: bold;
    color: var(--color-black);
  }
  &-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 56px;
    & > * {
      font-size: 12px;
      font-weight: 300;
    }
  }
  &-item-sub {
    font-size: 14px;
    color: var(--color-primary);
    font-weight: 400;
    line-height: 1;
    margin-bottom: 4px;
  }
  &-address {
    .address-item {
      display: flex;
      align-items: flex-start;
      gap: 3px;
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
      .icon {
        flex-shrink: 0;
        padding-top: 3px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .address-content {
      span {
        &:first-child {
          font-weight: 400;
        }
      }
    }
  }
  &-contact {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 0 32px;
    margin-bottom: 12px;
    .contact-item {
      display: flex;
      align-items: center;
      gap: 3px;
    }
  }
}
