<div class="footer-container">
  <div class="footer-top">
    <div class="footer-col">
      <div class="footer-title text-uppercase">About Us</div>
      <div class="footer-desc">
        ESTI Pharma Pvt. Ltd. is the marketing company in Pharma sector founded
        by Mr. Subhash Ramkrishnappa, pharma businessman and technocrat by
        profession who has more than 20 years’ experience
      </div>
      <a href="" class="footer-read-more"> Read more >>> </a>
    </div>
    <div class="footer-col">
      <div class="footer-title text-uppercase">Location</div>
      <div class="footer-grid">
        <div class="footer-item">
          <div class="footer-item-sub">Multilateral Trading Pte Ltd</div>
          <div class="footer-address">
            <div class="address-item">
              <div class="icon">
                <img src="./assets/images/icons/ic_location.svg" alt="" />
              </div>
              <div class="address-content">
                <span class="text-uppercase">REGISTERED OFFICE:</span>
                <span
                  >60 Paya Lebar Rd, #09-43 Paya Lebar Square, Singapore
                  409051</span
                >
              </div>
            </div>
            <div class="address-item">
              <div class="icon">
                <img src="./assets/images/icons/ic_location.svg" alt="" />
              </div>
              <div class="address-content">
                <span class="text-uppercase"
                  >HO CHI MINH CITY REP. OFFICE:</span
                >
                <span
                  >Unit 402, No. 40E, Ngo Duc Ke Str., District 1, Ho Chi Minh
                  City, Vietnam</span
                >
              </div>
            </div>
          </div>
          <div class="footer-contact">
            <a href="" class="contact-item">
              <div class="icon">
                <img src="./assets/images/icons/ic_table_phone.svg" alt="" />
              </div>
              <div class="contact-text">+84-28-35210012</div>
            </a>
            <a href="" class="contact-item">
              <div class="icon">
                <img src="./assets/images/icons/ic_mobile.svg" alt="" />
              </div>
              <div class="contact-text">+84 903918460</div>
            </a>
            <a href="" class="contact-item">
              <div class="icon">
                <img src="./assets/images/icons/ic_sms_tracking.svg" alt="" />
              </div>
              <div class="contact-text">subhash@mtpl.vn</div>
            </a>
            <a href="" class="contact-item">
              <div class="icon">
                <img src="./assets/images/icons/ic_sms_tracking.svg" alt="" />
              </div>
              <div class="contact-text">subhash_ram@yahoo.com</div>
            </a>
          </div>
          <div class="footer-address">
            <div class="address-item">
              <div class="icon">
                <img src="./assets/images/icons/ic_location.svg" alt="" />
              </div>
              <div class="address-content">
                <span class="text-uppercase">HANOI REP. OFFICE: </span>
                <span
                  >HKC Building, Block B, 285 Doi Can, Lieu Giai, Ba Dinh, Ha
                  Noi, Vietnam</span
                >
              </div>
            </div>
          </div>
          <div class="footer-contact">
            <a href="" class="contact-item">
              <div class="icon">
                <img src="./assets/images/icons/ic_table_phone.svg" alt="" />
              </div>
              <div class="contact-text">+84-24 3762 2107/08</div>
            </a>
            <a href="" class="contact-item">
              <div class="icon">
                <img src="./assets/images/icons/ic_print.svg" alt="" />
              </div>
              <div class="contact-text">+84-24 3762 2107</div>
            </a>
          </div>
        </div>
        <div class="footer-item">
          <div class="footer-item-sub">Esti Pharma in Myanmar</div>
          <div class="footer-address">
            <div class="address-item">
              <div class="icon">
                <img src="./assets/images/icons/ic_location.svg" alt="" />
              </div>
              <div class="address-content">
                <span class="text-uppercase">YANGON OFFICE:</span>
                <span
                  >Building I, Room (2), Sein Lei Yeik Thar Housing, Aye Yeik
                  Thar 2nd Str., Bahan Township, Yangon, Myanmar</span
                >
              </div>
            </div>
          </div>
          <div class="footer-contact">
            <a href="" class="contact-item">
              <div class="icon">
                <img src="./assets/images/icons/ic_table_phone.svg" alt="" />
              </div>
              <div class="contact-text">+95 9268413647</div>
            </a>
            <a href="" class="contact-item">
              <div class="icon">
                <img src="./assets/images/icons/ic_global.svg" alt="" />
              </div>
              <div class="contact-text">www.estipharma.com</div>
            </a>
          </div>
          <div class="footer-address">
            <div class="address-item">
              <div class="icon">
                <img src="./assets/images/icons/ic_location.svg" alt="" />
              </div>
              <div class="address-content">
                <span class="text-uppercase">MANDALAY OFFICE: </span>
                <span
                  >No ( C/4) 63-B st ,Between 24 x 25st,Aung Myay Thar Zan
                  Township, Mandalay, Myanmar</span
                >
              </div>
            </div>
          </div>
          <div class="footer-contact">
            <a href="" class="contact-item">
              <div class="icon">
                <img src="./assets/images/icons/ic_table_phone.svg" alt="" />
              </div>
              <div class="contact-text">+95 9897341660</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-all-rights">
      © 2020 ESTI Pharma.com. All Rights Reserved.
    </div>
  </div>
</div>
